@media (max-width:1200px) {
    .promo {
        padding-bottom: 40px;
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
        .button_main{
            width: 250px;
        }
    }

    .advantages {
        padding: 40px 0;
    }

    .consultation {
        min-height: 600px;
        padding: 70px 0;
    }

    .catalog {
        padding-bottom: 60px;
    }

    .review {
        padding: 0 30px 60px 30px
        &__name {
            font-size: 14px;
        }
        &__descr {
            font-size: 15px;
        }
    }
} ;

@media (max-width:991px) {
    .promo {
        min-height: 600px;
        padding: 21px 0 40px 0;
        .header {
            padding: 0 30px;
            &__phone {
                font-size: 15px;
            }
            &__official {
                font-size: 11px;
                span {
                    font-size: 15px;
                }
            }
        }
        &__wrapper {
            padding: 0 30px;
        }
        &__icon{
            font-size: 13px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__link {
            font-size: 15px;
        }
    }

    .consultation {
        padding: 70px 30px;
    }

    .carousel {
        padding: 60px 0;
        .slick-dots {
            display: flex;
            width: 20%;
            margin: 15px auto 0 auto;
            padding: 0;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            li {
                transition: 1s all;
                background: #eddfd477;
                border: none;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                outline: none; 
            }
            button {
                display: none;
            }
            .slick-active {
                background: $main-color;
            }
        }
    }

    .review {
        &-item {
            flex-direction: column;
            align-items: center;
            &__wrapper {
                text-align: center;     
            }
            img {
                margin-bottom: 8px;
            }
        }
    }

    .footer {
        height: 500px;
        &__info {
            padding: 30px 0;
            width: 100%;
            max-height: 200px;
        }
        &__addr {
            margin-bottom: 25px;
        }
        &__phone {
            margin-bottom: 25px;
        }
    }
} ;

@media (max-width:767px) {
    .title {
        font-size: 25px;
    }
    .promo {
        .header {
            &__logo {
                width: 200px;
            }
            &__official {
                span {
                    font-size: 13px;
                    margin-top: 10px;
                }
            }
            &__contacts {
                a {
                    font-size: 13px;
                }
                .button {
                    height: 30px;
                    width: 125px;
                    font-size: 11px;
                }
            }
        }
        &__wrapper {
            align-items: center;
        }
    }

    .advantages {
        min-height: 400px;
        &__wrapper {
            margin-top: 40px;
        }
        &__item {
            max-width: 200px
        }
        &__subtitle {
            font-size: 17px ;
        }
    }

    .consultation {
        .title_left {
            text-align: center;
            font-size: 30px;
        }
        &__descr {
            text-align: center;
            font-size: 18px;
        }
        .feed-form {
            margin: 36px auto 0 auto;
        }
    }

    .carousel {
        &__inner {
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .catalog {
        &__tab {
            font-size: 15px;
            width: 170px;
        }
    }

    .review {
        padding: 0 30px 48px 30px;
        .title {
            margin-bottom: 45px;
        }
        &__name {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
        }
    }

    .footer {
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__map {
            order: 2;
        }
        &__info {
            position: relative;
            order: 1;
        }
    }
}

@media (max-width:575px) {
    .title {
        font-size: 20px;
    }
    .promo {
        .header {
            &__logo {
                width: 250px;
            }
            &__contacts {
                display: none;
            }

            &__official {
                font-weight: 300;
                span {
                    margin-top: 4px;
                    font-size: 12px;
                }
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 100%;
        }
        &__icon {
            width: 33%;
        }
    }

    .advantages {
        .title {
            font-size: 22px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            max-width: 300px;
        }
    }

    .consultation {
        .title_left {
            line-height: 40px;
        }
        &__descr {
            line-height: 25px;
        }
        .feed-form {
            width: 260px;
            input {
                width: 260px;
            }

            .button_submit {
                width: 260px;
            }
        }
        
    }
    
    .carousel {
        padding: 60px 15px;
    }
    .catalog {
        .title {
            margin-bottom: 40px;
        }
        &__tabs {
            margin-top: 0;
        }
        &__tab {
            font-size: 8px;
            width: 82px;
        }
    }
    .modal {
        width: 290px;
        padding: 40px 0;
        &__close {
            top: 7px;
            right: 5px;
        }
        .feed-form {
            margin: 25px auto 0 auto;
            width: 250px;
        }
    }
}


